/* do not download to github */
html{
    scroll-behavior: smooth;
}
.header,
.main,
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
}
.header,
.footer{
    color: white;
    background-color: rgb(32,36,45);
}
h2{
    text-align: center !important;
    font-size: 3.2em;
    margin: .5em auto;
    /*box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 black*/
}

.hide{
    display: none;
}
.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.left__header__content,
.right__header__content{
    width: 50%;
    display: flex;
}
.left__header__content{
    justify-content: space-between;
    align-items: center;
}
.left__header__content div{
    margin: 0;
    width: 50%;
}

.left__header__content .companySlogan p{
    width: 100%;
    font-size: 3em;
    user-select: none;
}
.left__header__content .companySlogan p:first-child{
    text-align: left;
    padding: 0;
}
.left__header__content .companySlogan p:nth-child(2){
    text-align: center;
    padding: 15px 0;
}
.left__header__content .companySlogan p:last-child{
    text-align: left;
    padding: 0;
}
.left__header__content .companySlogan{
    display: flex;
    flex-wrap: wrap;
    /*margin-left: -20px !important;*/
}
.left__header__content img{
    width: 85%;
    height: auto;
}
.right__header__content{
    display: flex;
    flex-wrap: wrap;
}
.right__header__content .companySloganNone,
.right__header__content .userRoom,
.right__header__content nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px 0;
}
.right__header__content .companySloganNone{
    /*font-size: 1.5em;*/
    color: transparent;
    user-select: none;
}
.room__users{
    padding: 13px 25px ;
    font-family: 'Roboto Condensed';
    background-color: #4bbdfa;
    border: solid 1px #3E96CB;
    border-radius: 2px;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .5px;
    outline: 0 !important;
    transition: all .3s;
}
.room__users:hover{
    background-color: #397dad;
    border: solid 1px #397dad;
    cursor: pointer;
    /*border: solid 2px white;*/

}
.navigation{
    display: flex;
}
.navigation a{
    color: white;
    text-decoration: none;
    transition: all .3s;
}
.navigation li{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-style: italic;
    border-left: solid 3px transparent;
    padding: 5px 20px 5px 20px;
    color: white;
    transition: all .3s;
}
.navigation li:hover{
    color: rgb(8,126,177);
    border-left: solid 3px rgb(8,126,177);
    cursor: pointer;
    font-style: normal;
}
.navigation a:hover{
    color: rgb(8,126,177);
}
.navigation li:last-child{
    padding: 5px 0px 5px 20px;




}
/* ------------------------main------------------------------------ */


.main .section{
    margin: 30px 0 30px 0;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 0px 10px gray;
}
.about__us{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.about__us h2{
    box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 black

}
.about__us__top__content,
.about__us__bottom__content{
    width: 100%;
    min-height: 15em;
    padding: 1em;
}
.about__us__top__content p,
.about__us__bottom__content p{
    font-size: 20px;
    line-height: 1.3;
    text-align: justify;
    padding: 1em;
}
.about__us__top__content p{
    padding: 0 1em 0;
}
.about__us__bottom__content p{
    padding: 0 1em;

}
.rightFloatImg{
    float: right;
    height: auto;
    width: 30%;
    margin: 0 0 1em 1em;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}
.leftFloatImg{
    float: left;
    height: auto;
    width: 30%;
    margin: 0 1em 1em 0;
    box-shadow: 0px 0px 5px black;
}

.progect{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}
.progect h2{
    font-size: 50px;
    margin: 0 0 20px;
}
.progect p{
    font-size: 20px;
    line-height: 1.3;
}
.progect__left__content,
.progect__right__content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 48%;
}
.progect__right__content{
    justify-content: space-between;
}
.colHeight{
    min-height: 48em!important;
}
.progect__left__content p{
    margin-top: 10px;
}
.progect____content p{
    margin-top: 10px;
}
.progect__left__content img{
    width: 100%;
}
.progect__right__content .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.progect__right__content img{
    width: 49.5%;
}

.photoGalery img{
    width: calc((100%/3) - .5%);
}
.photoGalery{
    justify-content: space-between;
}


.section .video{
    width: 100%;
}
.video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video p,
.video img{
    width: 49%;
    margin: 10px 0;
}

/* -------------------------footer---------------------------------- */
.footer{
    padding: 30px 0 30px 0;
}
.footer
.map,
.contacts{
    justify-content: center !important;
    align-content: center !important;
    text-align: center;
}
.map{
    width: 40%;
}
iframe{
    width: 100%;
    height: 20em;
}
.contacts{
    width:calc(100% - 40%);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    line-height: 1.3;
    color: white;
    padding: 1em 1em 1em 4em;


}
.address,
.phone{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    flex-grow: 1;
    padding: 5px;
}
.address{
    width: 60%;
}
.phone{
    width: 40%;
    text-align: right;
}

.top span{
    font-size: 40px;
}
.top{
    width: 70px;
    height: 70px;
    transform: rotate(90deg); 
    font-family: 'Roboto Condensed';
    color: white;
    background-color: #3f414d;
    padding: 10px;
    border: none;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    outline: 0 !important;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
}
.top:hover{
    background-color: rgb(8,126,177);
    color: white;
}
.topHide{
    right: -150px;
    bottom: -150px;
}


/* ----------------------------modal window---------------------------------- */
/* ----------------------------modal__certificate---------------------------------- */

.modal__certificate{/* фон модального окна свидетельства */
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
}
.modal__content__certificate{/* контейнер модального окна свидетельства */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.modal__content__certificate img{ /* свидетельство */
    width: 1000px;
}
.modal__content__certificate input{/* закрыть модальное окно свидетельства */
    cursor: pointer;
    font-size: 30px;
    width: 2em;
    height: 2em;
    z-index: 99;
    margin-left:-30px;
    padding: 13px 20px 13px 20px;
    border-radius: 50%;
    border: solid 1px white;
    outline: none !important;
}


.none{
    display: none;
}
.showHide{
    display: none;
}
/*-----------------------------------------------------------------------*/
@media only screen and (max-width: 1500px) {
    .left__header__content .companySlogan p {
        font-size: 2.5em;
    }
    .navigation li {
        font-size: 1.3em;
        letter-spacing: 0;
    }
    .room__users {

        font-size: 1em;
    }
}
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1350px) {
    .left__header__content .companySlogan p {
        font-size: 2.3em;
    }
    .container{
        width: 90%;
    }
}
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
    .container{
        width: 90%;
    }
    .video img{
        width: 49%;
        height: auto;
    }
    .photoGalery img {
        width: calc((100%/3) - .5%);
        height: auto;
    }
    .progect__left__content img {
        width: 100%;
        height: auto;
    }
    .progect p{
        padding-bottom: 1em;
    }
    .contacts{
        padding: 1em;
    }
    .navigation li{
        padding: 3px 10px;
    }
}