@media only screen and (max-width: 375px){
    html{
        scroll-behavior: smooth;
    }
    .header,
    .main,
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'Roboto Condensed';
    }
    .header,
    .footer{
        color: white;
        background-color: rgb(32,36,45);
    }
    .hide{
        display: none;
    }
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header .container{
        width: 95%;
    }
    .left__header__content,
    .right__header__content{
        box-sizing: border-box;
        display: flex;
    }
    .left__header__content{
        width: 65%;
        justify-content: left;
        align-items: center;
        font-size: 30px ;
    }
    .left__header__content div{
        margin: 0 0 0 0;
    }
    .left__header__content .logo{
        width: 40%;
    }
    .left__header__content .companySlogan p{
        font-size: 25px;
        user-select: none;
    }
    .left__header__content .companySlogan p:first-child{
        text-align: center;
        padding: 0 0 0 0;
    }
    .left__header__content .companySlogan p:nth-child(2){
        text-align: center;
        padding: 0 0 0 0;
    }
    .left__header__content .companySlogan p:last-child{
        text-align: center;
        padding: 0 0 0 0;
    }
    .left__header__content .companySlogan{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        padding: 0 0 0 10px;
    }
    .left__header__content img{
        width: 100px;
        height: 70px;
    }
    .right__header__content{
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .right__header__content .companySloganNone,
    .right__header__content .userRoom,
    .right__header__content nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 20px 0;
    }
    .right__header__content nav{
        display: none;
    }
    .right__header__content .companySloganNone{
        font-size: 35px;
        color: transparent;
        display: none;
    }
    .right__header__content .userRoom button{
        padding: 5px;
        font-family: 'Roboto Condensed';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0px;
        cursor: pointer;
        outline: 0 !important;
        transition: all .3s;
    }
    .right__header__content .userRoom button:hover{
        background-color: rgb(8,126,177);
        border: solid 2px white;
        color: white;
    }
    .navigation{
        position: absolute;
        background-color: #000;
        display: none;
    }
    .navigation a{
        color: white;
        text-decoration: none;
        transition: all .3s;
    }
    .navigation li{
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 20px;
        border-left: solid 3px transparent;
        padding: 5px 20px 5px 20px;
        color: white;
        transition: all .3s;
    }
    .navigation li:hover{
        color: rgb(8,126,177);
        border-left: solid 3px rgb(8,126,177);
    }
    .navigation a:hover{
        color: rgb(8,126,177);
    }
    .navigation li:last-child{
        padding: 5px 0px 5px 20px;
    }


    /*-----------------------navigation_group_mobile----------------------------------*/

  .navigation_group_mobile{
    padding: 0 0 0 0;
    display: block;
    width: 100%;
  }
  .hide{
    display: none;
  }
  .menu{
    width: 100%;
  }
  .logo_menu{
    display: flex;
    justify-content: flex-end;
  }
  .logo_menu img{
    margin: 10px 0 0 0;
    filter: invert(100%);
  }
  ul{
    padding: 0;
  }
  li{
    color: white;
    list-style-type: none;
    margin: 5px 0px 5px 5px;
    font-size: 20px;
  }
  .elements_menu a{
    color: white;
    text-decoration: none;
  }
  .elements_menu{
    width: 50%;
    display: block;
    position: absolute;
    top: -300px;
    right: 0px;
    background-color: rgba(27,27,27,1);
    box-shadow: -15px 5px 15px 5px rgba(27,27,27,1);
    transition: .75s;
  }
  #menu_logo:checked~.elements_menu{
    display: block;
    top: 110px;
    right: 0px;
  }
    /*-------------------------------------------------------*/
    /* ------------------------main------------------------------------ */
    
    
    .main .section{
        margin: 15px 0 15px 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        box-shadow: 0px 0px 10px gray;
    }
    .about__us{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .about__us .about__us__left__content,
    .about__us .about__us__right__content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .about__us__left__content h2{
        font-size: 50px;
        margin: 0 0 20px 0;
    }
    .about__us__left__content p{
        font-size: 20px;
        line-height: 1.3;
        text-align: justify;
    }
    .about__us__right__content{
        margin: 20px 0 0 0;
        align-items: center;
        justify-content: space-around;
    }
    .about__us__right__content img:first-child{
        width: 90%;
        height: 500px;
        cursor: pointer;
        box-shadow: 0px 0px 5px black;
    }
    .about__us__right__content img:last-child{
        width: 90%;
    }
    .about__us .video{
        margin: 20px 0 0 0;
    }
    
    .progect{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0 10px 0;
    }
    .progect h2{
        font-size: 50px;
        margin: 0 0 20px;
    }
    .progect p{
        font-size: 20px;
        line-height: 1.3;
    }
    .progect__left__content,
    .progect__right__content{
        width: 100%;
    }
    .progect__right__content{
        order: -1;
    }
    .progect__left__content p,
    .progect__right__content p{
        text-align: justify;
    }
    .progect__left__content .img__progect{
        display: none;
    }
    .progect__right__content .galery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .progect__right__content img{
        margin: 10px 0 10px 0;
        width: 90%;
    }
    
    .photoGalery img{
        width: 95%;
        margin: 10px 0 10px 0;
    }
    .photoGalery{
        justify-content: center;
    }
    
    
    .section .video{
        width: 100%;
    }
    .video{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .video img{
        width: 95%;
        margin: 10px 0 10px 0;
    }
    
    /* -------------------------footer---------------------------------- */
    
    .footer{
        padding: 30px 0 30px 0;
    }
    .map,
    .contacts{
        width: 100%;
    }
    .map{
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;
    }
    iframe{
        width: 90%;
    }
    .contacts{
        display: flex;
    }
    .adress p,
    .phone p{
        width: 100%;
        font-size: 20px;
        line-height: 1.3;
        color: white;
    }
    .adress,
    .phone{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    
    .top span{
        font-size: 20px;
    }
    .top{
        width: 50px;
        height: 50px;
        transform: rotate(90deg); 
        font-family: 'Roboto Condensed';
        color: white;
        background-color: #3f414d;
        padding: 10px;
        border: none;
        position: fixed;
        bottom: 15px;
        right: 15px;
        outline: 0 !important;
        cursor: pointer;
        transition: all .3s;
        border-radius: 50%;
    }
    .top:hover{
        background-color: rgb(8,126,177);
        color: white;
    }
    .topHide{
        right: -150px;
        bottom: -150px;
    }
    
    
    /* ----------------------------modal window---------------------------------- */
    /* ----------------------------modal__certificate---------------------------------- */
    
    .modal__certificate{/* фон модального окна свидетельства */
        display: flex;
        justify-content: center;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
    }
    .modal__content__certificate{/* контейнер модального окна свидетельства */
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .modal__content__certificate img{ /* свидетельство */
        width: 1000px;
    }
    .modal__content__certificate input{/* закрыть модальное окно свидетельства */
        cursor: pointer;
        font-size: 30px;
        margin: 30px 0 0 30px;
        padding: 13px 20px 13px 20px;
        border-radius: 50%;
        border: solid 1px white;
        outline: none !important;
    }
    .modal__certificate{
        display: none;
    }
    
    
    .none{
        display: none;
    }
    
    .showHide{
        display: block;
    }
}